@import "../utils/maps";
@import "../utils/mixins";
@import "../utils/variables";

// BTN
 .btn {
    font-size: map-get($font-size, large);
    font-weight: map-get($font-weight, bold);
    border-radius: .5rem;
    width: 28rem;
    height: 8rem;
    margin-right: map-get($margin, medium);
    text-transform: uppercase;
    @include font-family("subtitle");

    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    z-index: 1;

    cursor: pointer;
    transform: scale(1);
    transition: all 100ms linear;

    &:active {
      transform: scale(.9);
      box-shadow: none;
  }

    @include media-queries-max-width(mobile) {
      width: 30rem;
      height: 10rem;
      font-size: map-get($font-size, large);
    }
 }

 
