@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/maps";

body {
        @include font-family("body");
        font-size: map-get($font-size, regular);
        font-weight: map-get($font-weight, regular);
        text-rendering: optimizeLegibility;
        line-height: 1.4;
        letter-spacing: .6px;
        color: $color-black;
}

h1 {
        @include font-family("title");
        font-size: map-get($font-size, header1);
}

h2 {
        @include font-family("title");
        font-size:map-get($font-size, header2);
        letter-spacing: 1.5px;
}