@import "../utils/maps";
@import "../utils/mixins";
@import "../utils/variables";
@import "../base/animations";

.christmas-page {
    @include font-family("body");
    font-size: 2.5rem;
    @include flex-rows;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__hero {
        width: 100vw;
        height: 75vh;
        @include flex-rows;
        align-items: center;
        justify-content: center;

        padding: map-get($padding, large);

        
        background: url("#{$img-path}pasqua23_casa-cantoniera.webp");
        background-size: cover;
        background-repeat: no-repeat;

        @include media-queries-max-width(medium-tablet) {
            background: url("#{$img-path}pasqua23_casa-cantoniera--mobile.webp");
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 100vh;

            h1 {
                background-color: rgba(0,0,0,.3);
            }
        }

        @include media-queries-max-width(medium-tablet) {
            padding: map-get($padding, tiny);
        }
    }

    &__h1, 
    &__h2 {
        flex-basis: 100%;
        @include font-family("special");
        text-transform: none;
    }

    &__h1 {
        color: #9e4273;
        font-size: 10rem;
        margin-top: 15rem;

        @include media-queries-max-width(medium-tablet) {
            font-size: 7rem;
            margin-top: 8rem;
        }
    }

    &__h2 {
        color: #9e4273;
        font-size: 8rem;
    }

    &__menu {
        @include flex-rows;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        padding: map-get($padding, large);

        @include media-queries-max-width(medium-tablet) {
            padding: map-get($padding, small);
        }

        @include media-queries-max-width(mobile) {
            padding: map-get($padding, tiny);
        }
    }

    &__menu-section {
        @include flex-columns;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;

        img {
            object-fit: cover;
            object-position: center;
            margin: 0 auto;
        }
    }

    &__list {
        @include flex-columns;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        hr {
            border-top: .8rem dotted #9e4273;
            width: 5rem;
            text-align: center;
            margin: 6px auto;
            color: $color-white;
            border-right: none;
            border-left: none;
        }
    }
    
    &__price,
    &__included {
        flex-basis: 100%;
        font-size: 3rem;
        color: #9e4273;
    }

    &__prenota {
        margin-bottom: 4rem;
        padding: map-get($padding, small);

        @include media-queries-max-width(medium-tablet) {
            padding: map-get($padding, tiny);
        }
    }

    &__info {
        @include flex-columns;

        figcaption {
            color: $color-primary;
        }
    }
    
}

.divisor {
    width: 30%;
    color: $color-primary;
    height: 1px;
    margin-bottom: 4rem;
    margin-top: 4rem;
    flex-basis: 50%;
}