@import "../utils/maps";
@import "../utils/mixins";
@import "../utils/variables";
@import "../base/animations";


// MENUS INDEX
.menus {
    @include flex-rows;
    justify-content: space-evenly;
    padding: map-get($padding, medium);
    margin: map-get($margin, large) 0;
    gap: 5rem;
    text-align: center;

    &__body {
        background-color: $color-primary-dark;
    }

    &__header {
        color: rgba($color-white, .8);
        margin-bottom: map-get($margin, large);
        flex-basis: 100%;
    }

    &__full-links:focus-visible {
        outline: 2px dashed $color-white;

        img {
            filter: grayscale(0%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
}

// MENU CARDS
.card {
    @include flex-columns;
    align-items: center;
    justify-content: center;
    padding: map-get($padding, tiny);
    transition: all 300ms linear;
    box-shadow: none;
    outline: 1px solid rgba($color-white, .7);
    outline-offset: 1rem;
    background-color: $color-white;
    flex-basis: 25%;
    border-radius: 5px 10% 5px;

    @include media-queries-max-width(mobile) {
        margin-bottom: map-get($margin, small);
    }


    // MENU CARD TITLE
    &__title {
        transition: color 300ms linear;
        margin-bottom: map-get($margin, medium);
    }

    // MENU CARD IMAGE
    &__image {
        object-fit: cover;
        object-position: center;
        transition: all 400ms ease-in-out;
        width: 42rem;
        border-radius: 5px 10% 5px;

        @media (hover: hover) {
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            filter: grayscale(100%);
        }

        @media (hover: none) {
            filter: grayscale(0%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        @include media-queries-max-width(tablet) {
            filter: grayscale(0%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
        
        @include media-queries-max-width(mobile) {
            width: 35rem;
        }
    }

    &:hover {
        @include shadow($color-secondary);
    }

    &:hover img {
        filter: grayscale(0%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    &:hover h2 {
        color: $color-primary;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MENUs PAGEs
.menu-page {

    @include flex-rows;
    justify-content: space-around;
    align-items: center;

    // HERO BACKGROUNDS
    &__hero--pizza {
        background: linear-gradient( rgba($color-secondary, 0.5), rgba($color-secondary, 0.5) ), url("#{$img-path}Pizza-Napoletana-Parmigiana-Casa-Cantoniera-Torino-desktop.png");
        
        @include media-queries-max-width(mobile) {
            background: linear-gradient( rgba($color-secondary, 0.5), rgba($color-secondary, 0.5) ), url("#{$img-path}Pizza-Napoletana-Parmigiana-Casa-Cantoniera-Torino-mobile.png");
        }

    }
    &__hero--cucina {
        background: linear-gradient( rgba($color-secondary, 0.5), rgba($color-secondary, 0.5) ), url("#{$img-path}ristorante-casa-cantoniera-tonno-scottato-pesce-carne-vegetariano-desktop.png");
        
        @include media-queries-max-width(medium-tablet) {
            background: linear-gradient( rgba($color-secondary, 0.5), rgba($color-secondary, 0.5) ), url("#{$img-path}ristorante-casa-cantoniera-tonno-scottato-pesce-carne-vegetariano-mobile.png");
        }
    }

    &__hero--vino {
        background: linear-gradient( rgba($color-secondary, 0.5), rgba($color-secondary, 0.5) ), url("#{$img-path}Vini-rossi-piemontesi-vini-bianchi-ristorante-casa-cantoniera-torino-desktop.png");

        @include media-queries-max-width(medium-tablet) {
            background: linear-gradient( rgba($color-secondary, 0.5), rgba($color-secondary, 0.5) ), url("#{$img-path}Vini-rossi-piemontesi-vini-bianchi-ristorante-casa-cantoniera-torino-mobile.png");
        }
    }

    &__hero--birra {
        background: linear-gradient( rgba($color-secondary, 0.5), rgba($color-secondary, 0.5) ), url("#{$img-path}birra-artigianale-italiana-casa-cantoniera-ristorante-pizzeria-san-mauro-torino-desktop.png");
        
        @include media-queries-max-width(medium-tablet) {
            background: linear-gradient( rgba($color-secondary, 0.5), rgba($color-secondary, 0.5) ), url("#{$img-path}birra-artigianale-italiana-casa-cantoniera-ristorante-pizzeria-san-mauro-torino-mobile.png");
        }
    }

    //HERO
    &__hero {
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        justify-content: space-between;
        min-height: 100vh;
        padding: map-get($padding, huge);
        
        color: $color-white;

        background-size: cover;
        background-position: center;
        
        @include media-queries-max-width(medium-desktop) {
            padding: map-get($padding, large);
            flex-flow: wrap;
        }

        @include media-queries-max-width(tablet) {
            @include flex-columns;
            padding: map-get($padding, medium);
            justify-content: center;
            gap: 5rem;
            margin-bottom: map-get($margin, medium);
        }

        @include media-queries-max-width(medium-tablet) {
            padding: map-get($padding, small);
        }

        @include media-queries-max-width(mobile) {
            justify-content: center;
            gap: 2rem;
        }

    }

    &__title  {
        text-transform: uppercase;
        flex-basis: 30%;
    }

    &__intro {
        flex-basis: 50%;
        line-height: 1.7;
        letter-spacing: 1.4px;
        font-size: map-get($font-size, medium);

        @include media-queries-max-width(medium-desktop) {
            flex-basis: 50%;
        }
    }

    // MENU 
    &__menu {
        @include flex-rows;
        padding: map-get($padding, large);
        flex-basis: 45%;

        // FOR LOOP TO GIVE ORDER TO FLEX ITEMS ON MOBILE
        @for $i from 1 through 11 {
            
            &--mobile-order--#{$i} {
                @include media-queries-max-width(small-desktop) {
                    order: $i;
                }
            }
        }

        @include media-queries-max-width(small-desktop) {
            flex-basis: 80%;
        }

        @include media-queries-max-width(medium-tablet) {
            padding: map-get($padding, medium) map-get($padding, small);
        }
    }


        &__subtitle {
            flex-basis: 100%;
            color: $color-primary;
        }
    
        &__new {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }
    
        &__images {
            @include flex-rows;
            justify-content: center;
            flex-basis: 35%;
            gap: 3rem;
            padding: map-get($padding, large) 0;

            @include media-queries-max-width(small-desktop) {
                flex-basis: 100%;
            }

            // FOR LOOP TO GIVE ORDER TO FLEX ITEMS ON MOBILE
            @for $i from 1 through 12 {
                &--mobile-order--#{$i} {
                    @include media-queries-max-width(small-desktop) {
                        order: $i;
                    }
                }
            }
        }
    
        &__item {
            @include flex-rows;
            justify-content: space-between;
            gap: 1.5rem;
            margin-top: map-get($margin, small);

            span {
                font-weight: map-get($font-weight, regular);
            }
        }

        &__price {
            &--full-length {
                flex-basis: 100%;;
            }

            @include media-queries-max-width(mobile) {
                flex-basis: 100%;
            }
        }

        &__link {
            @include media-queries-max-width(mobile) {
                margin-top: map-get($margin, medium);
            }
        }


}

