$font-size: (
    small: 1.4rem,
    regular: 1.6rem,
    medium: 1.9rem,
    large: 2.3rem,
    header1: 7rem,
    header1-mobile: 4.5rem,
    header2: 6rem
);

$margin: (
    small: 2.5rem,
    medium: 4rem,
    large: 6rem,
    huge: 12rem
);

$font-weight: (
    regular: 400,
    bold: 700
);

$padding: (
    small: 2rem,
    medium: 5rem,
    large: 8rem,
    huge: 12rem
);

// media queries breakpoints
$breakpoints: (
    mobile: 25em, // 400px
    tablet: 48em, // 768px
    small-desktop: 59.375em, // 950px
    large-desktop: 87.5em // 1400px
);
