$font-size: (
    small: 1.4rem,
    regular: 1.6rem,
    medium: 1.7rem,
    large: 2rem,
    header1: 7rem,
    header2: 3rem
);

$margin: (
    small: 2rem,
    medium: 4rem
);

$font-weight: (
    regular: 400,
    bold: 700
);

$padding: (
    small: 2rem,
    medium: 5rem
);

// media queries breakpoints
$breakpoints: (
    tablet: 48em, // 768px
    small-desktop: 59.375em, // 950px
    large-desktop: 87.5em // 1400px
);
