// colors
$color-primary: #a80f02;
$color-primary-dark: #6f0a02;
$color-primary-bckgr: #260300;
$color-primary-light: #b01002;

$color-secondary: #010000;

$color-black: #000000;
$color-white: #fff;

// images path
$img-path: "/casaCantoniera/public/images/";
