@import "../utils/maps";
@import "../utils/mixins";
@import "../utils/variables";

// NAVBAR
.navbar {
    @include flex-rows;
    justify-content: space-around;
    align-items: center;
    background-color: $color-secondary;

    @include shadow($color-secondary);

    position: relative;
    z-index: 299999;

    &__sticky {
        @include media-queries-min-width(small-desktop) {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: rgba($color-secondary, .9);
            transition: all 300ms linear;
        };
    }

    // LOGO
    &__logo {
        img {
            transition: transform 700ms ease-in-out;
            transform: rotateY(0);
            border-radius: 100%;
        }

        img:hover {
            transform: rotateY(.5turn);
        }

        &::after {
            display: none;
            }

        // MAKES MOBILE LOGO ONLY VISIBLE ON MOBILE
        &--mobile {
            @include media-queries-min-width(small-desktop) {
                 display: none;
            }
        }
    }

    // HAMBURGER MENU
    &__hamburger {
        display: none;
        padding: map-get($padding, small);
        background-color: $color-secondary;
        border: none;
        
        &--bar {
            display: block;
            width: 4.5rem;
            height: .6rem;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: rgba($color-white, .6);
        }
        
        @include media-queries-max-width(small-desktop) {
            @include flex-columns;
            justify-content: center;
            cursor: pointer;

            // HAMBURGER BARS ACTIVE STATUS
            &.active .navbar__hamburger--bar:nth-child(2) {
                opacity: 0;
            }
        
            &.active .navbar__hamburger--bar:nth-child(1) {
                transform: translateY(16px) rotate(45deg);

                @include media-queries-max-width(mobile) {
                    transform: translateY(14px) rotate(45deg);
                }
            }
        
            &.active .navbar__hamburger--bar:nth-child(3) {
                transform: translateY(-16px) rotate(-45deg);
            }
        }
    }

    // UL NAV MENU
    &__menu {
        // flex
        @include flex-rows;
        align-items: center;
        gap: 4rem;
        z-index: 2999999;


        @include font-family("subtitle");
        font-size: map-get($font-size, medium);
        letter-spacing: 1.5px;

        // responsive menu
        // hides horizontal menu on smaller screens
        @include media-queries-max-width(small-desktop) {
            position: absolute;
            height: max-content;
            left: -100%;
            top: 0;
            background-color: $color-secondary;
            width: 100%;
            height: 100vh;
            text-align: center;
            transition: all 800ms;
            @include flex-columns;
            flex-wrap: nowrap;
            align-items: stretch;
            gap: 0;

            // NAV DROPDOWN MENU ACTIVE STATUS
            &.active {
                left: 0;
                top: 8.7rem;
                padding: 5rem 0;

                @include media-queries-max-width(tablet) {
                    top: 11rem;
                }
            }

        
            &-item {
                margin: 2.5rem 0;

                @include media-queries-max-width(small-desktop) {
                    margin: 2rem 0;
                }
            }
        }

            // NAV LINKS STATES
            &-item--link:link,
            &-item--link:visited {
                transition: all 400ms linear;
                border: none;
                color: rgba($color-white, .6);
                transform: scale(1);
                padding-top: .1rem;
                position: relative;
                letter-spacing: 2px;

                &::after {
                    content: "";
                    position: absolute;
                    top: -1rem;
                    left: 0;
                    background-color: $color-white;
                    line-height: 1.4;
                    width: 100%;
                    height: 2px;
                    opacity: 0;
                    transition: opacity 300ms linear;

                    @include media-queries-max-width(tablet) {
                        left: -.5rem;
                    }
                }
            }

            &-item--link:hover {
                color: rgba($color-white, 1);

                &::after {
                    opacity: 1;
                }
            }
    
    }
}

.no-display {
    @include media-queries-max-width(tablet) {
        display: none;
    }
}






